.DS_Store
.AppleDouble
.LSOverride
Icon
._*

xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout

distribution/
scripts/
DISTRIBUTION.md

build/
DerivedData/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

.build/
.swiftpm/

Pods/
Carthage/Build/

fastlane/report.xml
fastlane/Preview.html
fastlane/test_output
